
.card-title{
    color: #fff;
    background-color: #84bdbe;
    margin-top: 0px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-area{
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 0;
  margin: 1px;
  padding: 20px 0;
}
.search-box input{
  float: left;
  border-radius: 15px 15px;
  margin-top: 30px;
  width: 300px;
}
.menu ul{
  list-style: none;
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;

}
.menu .menu-item li a{
  margin-top: 20px;
  display: block;
  color: #fff;
  padding: 15px 20px;
  font-size: 2;
  margin-left: 5px;
}
.form-select-top{
  float: right;
  background-color: #b1b1b1;
  margin-top: 20px;
  margin-left: 50px;
  height: 50px;
  border-radius: 25px;

}
.con-right{
  margin-top: 0;
  margin-left: 40%;
  
}
.form-select{
  float: right;
  width: 205px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 0;
}
/* .navbar{
 
 
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  margin-left: 10%px;
}
.collapse{
  background-image : url();
  /* background-color: black; */
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;

}

.container-fluid{
    margin-left:120px;
  

}
.container-fluid .d-flex .search-box input{
    border-radius: 15px 15px;
} */  
.single-slider::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: .7;
}
.single-slider{
  background-size: cover;
  background-position:center ;
  height: 55vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.slider-content h1{
  text-transform: capitalize;
  color: #fff;
  font-size: 64px;
}
.slider-content p{
  color: #fff;
  font-size: 15px;
  top: 35px;
}
.container{
  max-width: 1402px;
  margin: auto;
}
.d-sm-flex{
  margin-left: 10px;
}
.dot-filter{
  width: 45px;
  height: 40px;
  border-radius: 50%;
  background-color: #e5b72d;
  position: absolute;
  text-align: center;
  padding-top:5px ;

}
.text-mute{
  width: 70px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 25px;
  text-align: center;
  position: relative;
  margin-left: 35px;
}
.yellow-label {
  background-color: #e5b72d;
  color: #fff;
  width: auto;
  border-radius: 10px 10px 10px 10px;
  font-size: 0.8rem;
  height: 20px;
  

  
}
.content{
    clear: both;
    padding-top: 0;
}
.aside-left{
  width: 320px;
  float: left;
  height: 1880px;
  clear: both;
  margin-left: 242px;

 
}
.list-group-item:first-child{
  border-radius: 0;
}
.list-group-item{
  
}
/* .cate{
  width: 320px;
  height: 470px;
  float: left;

} */
.aside-box{
  margin-top: 35px;
  clear: both;
  border: 1px solid #dddddd;
}
/* .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 185px;
  left: 68px
}

.circle span {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  top: 40px;
  right: 20px;
  margin-right: 20px
}

.circle .row .col-4 span:nth-child(1) {
  background-color: #D07619
}

.circle span:nth-child(2) {
  background-color: #5C5952
}

.circle span:nth-child(3) {
  background-color: #E39333
}

.circle span:nth-child(4) {
  background-color: #668489
} */
/* .size .row .col-4{
  width: 45px;
  height: 45px;
  border: 1px solid black;
  text-align: center; 
  padding: 10px;
  color: black;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  margin-left: 30px;
}
#xxl{
  padding-top: 10px;
} */
/* .color .row .col-5{
  width: 45px;
  height: 45px;
  background-color:black ;
  text-align: center; 
  padding: 10px;
  
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  margin-left: 20px;
}
#colora{
  background-color: #dc8e6a;
}
#colorb{
  background-color: #9f755e;
}
#colorc{
  background-color: #b1c350;
}
#colord{
  background-color: #dc8e6a;
}
#colore{
  background-color: #dc8e6a;
}
#colorf{
  background-color: #b1c350;
}
#colorg{
  background-color: #dc8e6a;
}
#colorh{
  background-color: #dc8e6a;
} */
.color ul{
  list-style: none;
  margin-left: -10px;
  margin-top: 10px;
  
}
.color ul  a{
  float: left;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #ccc;
  margin-left: 15px;
  margin-bottom: 10px;

}
.size ul{
  list-style: none;
  margin-left: -10px;
  margin-top: 10px;
  
}
.size ul li a{
  float: left;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #ccc;
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: #8e8e8e;
}

.action{
    height: 100px;
    width: 100%;
}
.img-banner{
  width: 320px;
  height: 445px;
 position: relative;
  
}
.img-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.img-banner .title-img{
  position: absolute;
  top:60%;
  transform: translate(-50%, -50%);
  left: 50%;
}


.container{
  padding-left: 40px;

}
.pagination{
  margin-top: 65px;
 margin-left: 25%;
}
.page-item:not(:first-child) .page-link {
  margin-left: 10px;
}
.offset-1 {
  margin-left: 16.333333%;
}
/* footer
.site-footer
{
    margin-top: 50px;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  clear: both;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
} */
/* resposive */
/*mobile*/
/*menu mobile*/
.bar-btn {
  width: 32px;
  display: none;
  color: #fff;
  margin-left: 10px;
  left: 0;
}
.nav-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.1s;
}
.menu-mobile{
  display: none;
}
@media only screen and (max-width: 1023px) and (min-width: 320px){
  .bar-btn{
    margin-left: 8px;
    display: block;
    cursor: pointer;
  }
  .menu{
    display: none;
  }
  .menu-mobile{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 280px;
    max-width: 100%;
    background-color: #e5b72d;
    transform: translateX(-100%);
    transition: transform linear 0.2s;
    opacity: 0;


  }
  .menu-mobile img{
    display: block;margin: 0 auto;
    padding: 20px;
    
  }
.menu-mobile img:hover{
    color: white;
  }
  .search__mobile-box{
    width: 80%;
    border-radius: 25%;
    justify-content: center;
    margin-left: 25px;
    margin-bottom: 30px;
  }
  .menu__mobile-item{
    margin-top: 24px;
    list-style: none;
    background-color: cadetblue;
    border-radius: 25px;

  }
  .nav__mobile-link{
    text-decoration: none;
    color: white;
    font-weight:bold ;
    font-family:Arial, Helvetica, sans-serif ;
    margin-left: 10px;
    justify-content: center;
    display: inline-block;
    padding: 8px 0;
    font-size: 1rem;
  }
  #awesome{
    color: white;
  }
  .nav__mobile-link:hover{
    color: black;
  }
  .mobile__close{
    width: 24px;
    height: 24px;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    animation: fadeIn linear 0.2s;
  }
  .mobile__close:hover{
    color:#84bdbe ;
  }
  .nav__input:checked ~.nav-overlay{
    display: block;

  }
  .nav__input:checked ~.menu-mobile{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
