@font-face {
    font-family: Mermaid-Bold;
    src: url(font/Mermaid-Bold.ttf.woff);
}

body {
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container-v1 {
    max-width: 1672px;
    margin: auto;
}

.container-v2 {
    max-width: 1430px;
    margin: auto;
}

.card-title {
    color: #fff;
    background-color: #84bdbe;
    margin-top: 0px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    position: relative;
}

.card-mobile {
    width: 100%;
    height: 50px;
    background: #84BDBE;
    display: none;

}


.header-area {
    position: absolute;
    z-index: 9;
    width: 1880px;
    max-width: 100%;
    top: 0;
    padding: 20px 0;
    margin-top: 36px;
}

#dotx {

    color: #FFF;
    transform: translateX(580px);

}

.logo,
svg {
    vertical-align: middle;
    margin-top: -10px;
}

b,
strong {
    margin-top: 18px;
    font-weight: bolder;
}

.search-box input {
    float: left;
    border-radius: 25px 25px;
    margin-top: 30px;
    width: 300px;
}

.nav-link {
    font-size: 14px;
    margin-left: 50px;
}

#cgr {
    margin-left: 13px;
    letter-spacing: 5px;
    color: white;
    font-weight: 700;
}

.menu {
    margin-left: 35px;
}

.menu ul {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;

}

.menu .menu-item li a {
    margin-top: 20px;
    display: block;
    color: #fff;
    padding: 15px 20px;
    margin-left: 5px;
    font-size: 16px;
}

.icon-menu {
    display: flex;
    justify-content: flex-end;
}

.icon-menu .icon-cart {
    position: relative;
    margin-right: 5px;
}

.form-select-top {
    float: right;
    background-color: #b1b1b1;
    margin-top: 25px;
    margin-left: 25%;
    height: 34px;
    width: 76px;
    border-radius: 25px;
}

.icon-menu .icon-cart .notify {
    font-family: OpenSans;
    position: absolute;
    top: 27px;
    right: 3px;
    width: 15px;
    height: 15px;
    line-height: 18px;
    display: inline-block;
    color: #fff;
    text-align: center;
    background: #e5b72d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
}



.con-right {
    margin-top: 0;
    margin-left: 41%;
    display: flex;


}

.con-right i {
    padding-top: 12px;
}

.form-select {
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 0;
}



.navbar-light .navbar-nav .nav-link {
    color: #fff;

}

.container-fluid {
    margin-left: 120px;


}

.container-fluid .d-flex .search-box input {
    border-radius: 15px 15px;
}

*/ .single-slider::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #333;
    opacity: .7;

}

.single-slider {
    background-size: cover;
    background-position: center;
    height: 55vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.slider-content {
    align-items: center;
    margin-top: 100px;
}

.slider-content h1 {
    text-transform: capitalize;
    color: #fff;
    font-size: 64px;
}

.slider-content p {
    color: #fff;
    font-size: 15px;
    top: 35px;
}

.name-page {
    font-weight: 300;
}



.d-sm-flex {
    margin-left: 10px;
}

.dot-filter {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    background-color: #e5b72d;
    position: absolute;
    text-align: center;
    padding-top: 5px;

}

.text-mute {
    width: 70px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 25px;
    text-align: center;
    position: relative;
    margin-left: 35px;
}

.yellow-label {
    background-color: #e5b72d;
    color: #fff;
    width: auto;
    border-radius: 10px 10px 10px 10px;
    font-size: 0.8rem;
    height: 20px;
    width: 8%;
    text-align: center;
}

.content {
    clear: both;
    padding-top: 0;
}

.aside-left {
    width: 320px;
    float: left;
    height: 1880px;
    clear: both;
    margin-left: 242px;


}

#list-tab-one {
    border-radius: 0;
}

#list-tab-one a {
    font-weight: 600;
    color: black;
}

.list-group-item:first-child {
    border-radius: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #868686;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item strong {
    color: black;
    letter-spacing: 5px;
}

.row>* {
    margin-bottom: 35px;
}

.col-4 p {
    margin-top: 25px;
}

.aside-box {
    margin-top: 35px;
    clear: both;
    border: 1px solid #dddddd;
    border-radius: 0;
}

.color ul {
    list-style: none;
    margin-left: -10px;
    margin-top: 10px;

}

.color ul a {
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #ccc;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 16px;

}

.size ul {
    list-style: none;
    margin-left: -10px;
    margin-top: 10px;

}


.size ul li a {
    float: left;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #ccc;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #8e8e8e;
    margin: 23px 18px 8px 4px;
}



.size ul li #bold {
    border: 2px solid #1e1e1e;
    color: #1e1e1e;
    font-weight: bold;

}

.product {

    margin-left:1px ;
}

.img-banner {
    width: 320px;
    height: 445px;
    position: relative;

}

.img-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.img-banner .title-img {
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    left: 50%;
}


.container {
    padding-left: 40px;

}

.pagination {
    margin-top: -14px;
    margin-left: 26%;
}

.page-item:not(:first-child) .page-link {
    margin-left: 10px;
}

.offset-1 {
    margin-left: 16.333333%;
}

.main {
    width: 300px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

.slider-control {
    height: 0.4em;
    padding-top: .5em;
}

.slider {
    height: 3px;
    border: 1px solid white;
    background-color: #e5b72d;
}

.slider-handle {
    display: flex;
}

.slider-handle span {
    transform: translate(3px, -5px);
    height: 0.4em;
    width: 0.4em;
    align-items: center;
    border: 5px solid #e5b72d;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    color: white;
}



/* resposive */
/*mobile*/
/*menu mobile*/

.col-9 {
    flex: 0 0 auto;
    width: 75%;
    margin-top: 17px;
}

p {
    margin-top: 25px;
}

b,
strong {
    margin-top: 18px;
    font-weight: bolder;
}

#filter-content-mobile {
    display: none;
}

.bar-btn {
    width: 32px;
    display: none;
    color: #fff;
    margin-left: 10px;
    left: 0;
}

.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.1s;
}

.menu-mobile {
    display: none;
}

.product-item p {
    color: #868686;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {

    body {
        font-size: 16px;
    }

    .nav__mobile-link {
        font-size: 10px;

    }

    #dotx {
        display: none;
    }

    .card-title {

        width: 100%;

        font-size: 10px;
        text-align: center;
        display: none;
    }

    .card-mobile {
        display: block;
    }

    .card-mobile img {

        width: 20%;

        transform: translateX(168px);

    }


    img {
        width: 100%;


    }

    body {}

    .product-item {
        width: 100%;
        max-width: 100%;
        text-align: center;


    }

    .product-item img {
        max-width: 100%;

    }

    .product {
        transform: translateX(50px);
    }

    .col-3 {
        display: none;
    }


    .bar-btn {
        margin-left: 8px;
        display: block;
        cursor: pointer;
        width: 24px;
        height: 24px;
    }

    .icon-menu,
    .menu,
    .search-box {
        display: none;

        .menu-mobile {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 280px;
            max-width: 100%;
            background-color: #e5b72d;
            transform: translateX(-100%);
            transition: transform linear 0.2s;
            opacity: 0;


        }

        .menu-mobile img {
            display: block;
            margin: 0 auto;
            padding: 20px;

        }

        .menu-mobile img:hover {
            color: white;
        }

        .search__mobile-box {
            width: 80%;
            border-radius: 25%;
            justify-content: center;
            margin-left: 25px;
            margin-bottom: 30px;
        }

        .menu__mobile-item {
            margin-top: 24px;
            list-style: none;
            background-color: cadetblue;
            border-radius: 25px;

        }

        .nav__mobile-link {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 10px;
            justify-content: center;
            display: inline-block;
            padding: 8px 0;
            font-size: 1rem;
        }

        #awesome {
            color: white;
        }

        .nav__mobile-link:hover {
            color: black;
        }

        .mobile__close {
            width: 24px;
            height: 24px;
            color: white;
            position: absolute;
            top: 1rem;
            right: 1rem;
            animation: fadeIn linear 0.2s;
        }

        .mobile__close:hover {
            color: #84bdbe;
        }

        .nav__input:checked~.nav-overlay {
            display: block;

        }

        .nav__input:checked~.menu-mobile {
            transform: translateX(0);
            opacity: 1;
        }

        .single__mobile-area {
            width: 1023px;
        }

        .single-slider {
            height: 20vh;
        }

        #filter-content {
            width: 10%;
        }

        .text-mute,
        .dot-filter,
        .yellow-label {
            display: none;
        }

        .col {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            transform: translateX(-45%);
        }

        .row {
            max-width: 100%;
        }

        .slider-content {
            display: none;
        }
    }

    @media only screen and (max-width: 1023px) and (min-width: 768px) {

        body {
            font-size: 18px;
        }

        .nav__mobile-link {
            font-size: 10px;

        }

        #dotx {
            display: none;
        }

        .card-title {

            width: 100%;

            font-size: 10px;
            text-align: center;
            display: none;
        }

        .card-mobile {
            display: block;

        }

        .card-mobile img {

            transform: translateX(350px);

            width: 10%;

        }

        .col-3 {
            display: none;
        }


        .bar-btn {
            margin-left: 8px;
            display: block;
            cursor: pointer;
            width: 24px;
            height: 24px;
        }

        .menu {
            display: none;
        }

        .menu-mobile {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 280px;
            max-width: 100%;
            background-color: #e5b72d;
            transform: translateX(-100%);
            transition: transform linear 0.2s;
            opacity: 0;


        }

        .menu-mobile img {
            display: block;
            margin: 0 auto;
            padding: 20px;

        }

        .menu-mobile img:hover {
            color: white;
        }

        .search__mobile-box {
            width: 80%;
            border-radius: 25%;
            justify-content: center;
            margin-left: 25px;
            margin-bottom: 30px;
        }

        .menu__mobile-item {
            margin-top: 24px;
            list-style: none;
            background-color: cadetblue;
            border-radius: 25px;

        }

        .nav__mobile-link {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 10px;
            justify-content: center;
            display: inline-block;
            padding: 8px 0;
            font-size: 1rem;
        }

        #awesome {
            color: white;
        }

        .nav__mobile-link:hover {
            color: black;
        }

        .mobile__close {
            width: 24px;
            height: 24px;
            color: white;
            position: absolute;
            top: 1rem;
            right: 1rem;
            animation: fadeIn linear 0.2s;
        }

        .mobile__close:hover {
            color: #84bdbe;
        }

        .nav__input:checked~.nav-overlay {
            display: block;

        }

        .nav__input:checked~.menu-mobile {
            transform: translateX(0);
            opacity: 1;
        }

        .single__mobile-area {
            width: 1023px;
        }

        .single-slider {
            height: 35vh;
        }

        #filter-content {
            width: 10%;
        }

        .text-mute,
        .dot-filter,
        .yellow-label {
            display: none;
        }

        .col {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            transform: translateX(-45%);
        }

        .row {
            max-width: 100%;
        }

        .slider-content {
            display: none;
        }

        .product-item {

            width: 45%;
            float: left;
            margin-left: 40px;
        }
    }


    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }